@import "~bootstrap/scss/bootstrap.scss";

.texti {
  white-space: pre-line;
}

.quote {
  background-color: $gray-300;
}

code {
  color: lighten(black, 25%)!important;
  font-weight: bold;
  white-space: pre;
}