<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body>
    <header>
        <% include ../partials/header %>
    </header>

    <main class="container">

      <%- include('../partials/filters',
          {category: 'ekkert'}) %>

      <h3 class="col-12 text-center">
        404. Það er ekkert á þessari slóð.
      </h3>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

  </body>
</html>
