<meta charset="UTF-8">
<title>Vefforritun - fyrirlestrar</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
